absl-py==2.1.0
accelerate==0.30.1
albucore==0.0.13
albumentations==1.4.10
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
argcomplete==3.5.1
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
blinker==1.9.0
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.15
dill==0.3.9
dnspython==2.7.0
durationpy==0.9
easyocr==1.7.2
email_validator==2.2.0
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.4
fastapi-cli==0.0.5
filelock==3.16.1
fire==0.7.0
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.27.0
humanfriendly==10.0
idna==3.10
imageio==2.36.0
imgaug==0.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.29.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.7.0
kiwisolver==1.4.7
kubernetes==31.0.0
lazy_loader==0.4
libclang==18.1.1
litserve==0.2.5
lmdb==1.5.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
namex==0.0.8
narwhals==1.13.3
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.1
numpy==1.25.2
oauthlib==3.2.2
onnxruntime==1.20.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt-einsum==3.3.0
optree==0.13.1
orjson==3.10.12
overrides==7.7.0
packaging==24.1
paddle-bfloat==0.1.2
paddleocr==2.9.1
paddlepaddle==2.3.0
pandas==2.2.3
pandasql==0.7.3
parso==0.8.4
pdf2image==1.17.0
pickleshare==0.7.5
Pillow==10.1.0
pip==24.2
pipx==1.7.1
platformdirs==4.3.6
posthog==3.7.4
prompt_toolkit==3.0.48
protobuf==5.28.3
psutil==5.9.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytesseract==0.3.13
python-bidi==0.6.3
python-dateutil==2.9.0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.17
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==24.0.1
RapidFuzz==3.11.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.3
rich-toolkit==0.12.0
rpds-py==0.21.0
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
sentence-transformers==3.3.1
sentencepiece==0.1.99
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
sseclient-py==1.8.0
stack-data==0.6.2
starlette==0.41.2
streamlit==1.40.0
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
tf_keras==2.18.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.2
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchvision==0.16.2
tornado==6.2
tqdm==4.66.6
traitlets==5.14.3
transformers==4.40.0
typer==0.13.0
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.24
ultralytics-thop==2.0.9
urllib3==2.2.3
userpath==1.9.2
uvicorn==0.32.0
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.0
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.17.0
XlsxWriter==3.2.0
zipp==3.20.2
discord
